# GitHub Package Registry
@aaron:registry=https://npm.pkg.github.com

# Note: Set NODE_AUTH_TOKEN environment variable for GitHub Package Registry
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}